<!DOCTYPE html>
{% extends 'grouprides/base.html' %}
	{% block body_block %}

		<form class="search form-inline" action="http://127.0.0.1:8000/rides/" method='get'>
				{% csrf_token %}
			<!-- drop down option for sport  -->
			<p>
				<select name="sport" class='form-control'>
					<option value="cycling">cycling</option>
					<option value="running">running</option>
				</select>


				<!-- search location -->
				<input type="search" placeholder="city, state" name="loc_query" value='{{ query }}' required class='form-control'>
				<select class="form-control" name="radius" value="{{radius}}">
					<option value="5">5 miles</option>
					<option value="10">10 miles</option>
					<option value="15">15 miles</option>
				</select>
				<input type="submit" name="submit" value="search" class='form-control btn-primary'>
			</p>
		</form>
		<h2>
			Featured Rides
		</h2>
		{{featured}}
	{% endblock %}
