<!DOCTYPE html>
{% extends 'grouprides/base.html' %}
	{% block body_block %}
				<p>
					Displaying {{recentSearch}} rides within a radius of {{d}} miles
				</p>
				<!-- used to display queryset during testing
				<h2>{{query}}</h2>  -->


			<!-- for loop
				create a block element
				ride data
				blah blah -->
			{% if rides %}
				{% if rides.count == 1%}
					<h2>{{rides.count}} result:</h2>
				{% else %}
					<h2>{{rides.count}} results:</h2>
				{% endif %}
				{%for ride in rides%}


				<a href="http://127.0.0.1:8000/rides/result/{{ride.id}}">
					<div class="well" style="width: 100%;">
					  <div class="card-body">

							<div class="row">
							  <div class="column">
									<p class="card-title">{{ride.ride_name}}</p>
								 	<p class="card-text">{{ride.comments}}</p>
								</div>

							  <div class="column">
									<!-- compute next date -->
									<p class="card-text">{{ride.findDay}}</p>
									<p class="card-text">{{ride.start_time}}</p>
									<p class="card-text">{{ride.f_location_name.city}}</p>
								</div>
							</div>
					  </div>
					</div>
				</a>
				{% endfor %}
			{% else %}
				<p>No Rides Available
				</p>
			{%endif%}
		{% endblock %}
				<!-- Upon being clicked on the item: users will be redirected to the page of the ride -->
